name: CI

on:
  push:

jobs:
  check:
    runs-on: ubuntu-latest
    steps:
        - uses: actions/checkout@v6
        - uses: actions/setup-python@v6
          with:
            python-version: '3.12'

        - run: curl -LsSf https://astral.sh/uv/install.sh | sh 
        - run: echo "$HOME/.local/bin" >> $GITHUB_PATH

        - uses: actions/cache@v5
          with:
            path: |
              ~/.cache/uv
              ~/.cache/pip
            key: ${{ runner.os }}-uv-${{ hashFiles('**/pyproject.toml', '**/uv.lock') }}
            restore-keys: ${{ runner.os }}-uv-

        - run: uv sync
        - run: make check